:root {
  --brown: #5C4B28;
  --bodyBack: #AFCBD1;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;;
}

body {
  background-color: var(--bodyBack);
  color: var(--brown);
}

.main-div {
  padding: 60px;
}

.left-pane {
  text-align: right;
}

.right-pane img {
  width: 100%;
}

.name h1 {
  font-weight: bold;
}

.name h2 {
  font-size: 30px;
}

.number {
  font-size: 38px;
}
