:root {
  --brown: #5C4B28;
  --bodyBack: #AFCBD1;
  --navBar: #b58067;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;;
}

html {
  height: 100%
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: var(--navBar);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: none;
}

.about-content {
  display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

body {
  height: 100%;
  background-color: var(--bodyBack);
  color: var(--brown);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.main-div {
  width: 97%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.left-pane {
  text-align: right;
  padding-right: 30px;
  /*
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: var(--brown);
  */
}

.right-pane {
  padding-left: 30px;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: var(--brown);
}

.right-pane img {
  width: 100%;
}

.name h1 {
  font-weight: bold;
}

.name h2 {
  font-size: 30px;
}

.number {
  font-size: 38px;
}

.number a {
  color: var(--brown);
}

.contact a {
  color: var(--brown);
}
/* Mobile*/
@media (min-width: 320px;) {



}
/*Tablet*/
@media (min-width: 768px;) {

}
